$primary : #6ACED9;
$secondary: #80F2F2;
$tirchiary: #AEF2EB;
$light: #F9F9F9;
$light-grey: #F2F2F2;
$dark: #262626;
$red: #F52230;

/* Color Theme Swatches in Hex */
$ober-tirchiary-1-hex: #6ACED9;
$ober-tirchiary-2-hex: #80F2F2;
$ober-tirchiary-3-hex: #AEF2EB;
$ober-tirchiary-4-hex: #F2F2F2;
$ober-tirchiary-5-hex: #262626;

/* Color Theme Swatches in RGBA */
$ober-tirchiary-1-rgba: rgba(105,205,216, 1);
$ober-tirchiary-2-rgba: rgba(128,242,242, 1);
$ober-tirchiary-3-rgba: rgba(174,242,235, 1);
$ober-tirchiary-4-rgba: rgba(242,242,242, 1);
$ober-tirchiary-5-rgba: rgba(38,38,38, 1);

/* Color Theme Swatches in HSLA */
$ober-tirchiary-1-hsla: hsla(185, 59, 63, 1);
$ober-tirchiary-2-hsla: hsla(180, 81, 72, 1);
$ober-tirchiary-3-hsla: hsla(173, 72, 81, 1);
$ober-tirchiary-4-hsla: hsla(0, 0, 94, 1);
$ober-tirchiary-5-hsla: hsla(0, 0, 14, 1);