@import 'colours.scss';


$error-colour: $red;
$success-colur: $primary;

@mixin base-typeface {
    color: $dark;
  }

  @mixin base-background {
    background-color: $light;
    border: 1px solid $primary;
  }

  h3 {
    font-weight: bold;
    color: $primary;
  }

  p {
      @include base-typeface();
      font-size: 35px;
  }

  html {
      @include base-background();
  }