
// @import '../themes/style.scss';

.snackbar {
    top: 92px;
  
    &>div {
      background-color: $success-colur;
      color: $dark;
      font-weight: 900;
    }
  
    &__close {
      color: $dark;
    }
  }
  
.snackbar-error {
    &>div {
      background-color: $error-colour;
      color: $dark;
      font-weight: 900;
    }
  
    &__close {
        color: $dark;
    }
  }
